.config/bash/cd
.config/bash/machine_aliases
.config/gtk-2.0/gtkfilechooser.ini
.config/vim/.netrwhist
.config/vim/autoload/*
.local/share/xscripts/dir*
.local/share/xscripts/devices.txt
.local/share/xscripts/data/*
.local/share/wallpaper/*
